.createNew {
	display: block;

	.newSongTable {
		border: 2px solid rgba($color: #09139e, $alpha: 0.7);
		border-radius: 5px;
		margin: 2.5rem auto 0;
		padding: 2rem;
		width: 60%;

		tr {
			width: 100%;
			td {
				position: relative;
				text-align: center;

				&.genre-list {
					h1 {
						color: rgba($color: #09139e, $alpha: 0.8);
						font-family: sans-serif;
						font-size: 1.75rem;
						margin: 0.5rem auto 0.3rem;
					}

					.genre {
						border: 0.5px solid rgba($color: #09139e, $alpha: 0.5);
						border-radius: 0.75rem;
						cursor: pointer;
						display: inline-block;
						font-size: 1.2rem;
						margin: 0.35rem;
						padding: 0.3rem;

						&:hover {
							background: rgba(10, 100, 200, 0.8);;
							color: #fff;
						}

						&.isSelected {
							background: rgba($color: #09139e, $alpha: 0.6);
							color: #fff;
						}
					}
					
					.reset-genres {
						background: none;
						border: 2px solid rgba($color: #09139e, $alpha: 0.6);
						border-radius: 0.75rem;
						color: rgb(0, 0, 0);
						cursor: pointer;
						display: block;
						margin: 1rem auto 0;
						padding: 0.5rem;
						width: 35%;

						&:focus {
							outline: none;
						}

						&:active {
							background: rgba($color: #0011ff, $alpha: 0.6);
							color: rgb(255, 255, 255);
						}
					}
				}

				input {
					border: 1px solid #ced4da;
					border-radius: .25rem;
					color: #495057;
					display: block;
					font-size: 1rem;
					line-height: 1.5;
					margin: 0.5rem auto;
					padding: .375rem .75rem;
					transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
					width: 90%;
					
					&:focus {
						color: #495057;
						background-color: #fff;
						border-color: #80bdff;
						outline: 0;
						box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
					}
				}

				.addButton {
					background: rgba($color: #09139e, $alpha: 0.8);
					border-radius: 0.75rem;
					color: #fff;
					font-size: 1.25rem;
					margin-top: 1.5rem;
					padding: 1rem;
					width: 55%;

					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}