#header-nav {
	background: rgba($color: #abc, $alpha: 0.3);
	border-radius: 7px;
	display: flex;
	flex-direction: row;
	font-family: 'Trebuchet MS';
	justify-content: space-around;
	margin: 1rem auto;
	padding: 1rem;
	width: 90%;

	a {
		background: rgba($color: #abc, $alpha: 0.9);
		border-radius: 5px;
		color: #fff;
		font-size: 1.3rem;
		text-decoration: none;
		padding: 0.5rem;
	}

	.router-link-exact-active {
		background: rgba($color: #09139e, $alpha: 0.5);
		color: #000;
	}
}