.myMusic {
	ul {
		font-family: cursive;
		list-style-type: none;
		li {
			border: 1px solid black;
			border-radius: 5px;
			margin: 1rem;
			padding: 0.4rem;
			text-align: center;

			&:hover {
				background: rgba(1, 2, 3, 0.4);
				cursor: pointer;
			}
		}
	}
}