.bounce-enter-active {
	animation: bounce-in .5s;
}
.bounce-leave-active {
	animation: bounce-in 0s reverse;
}
@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

.fade-enter-active {
	animation: fade-in 0.75s;
}
.fade-leave-active {
	animation: fade-in 0.75s reverse;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.song-container {
	position: relative;

	.song-title {
		display: block;
		margin: 0.5rem 0 0.75rem 0;
		width: 100%;
	}

	.genre-container {
		border: 1px dashed black;
		border-radius: 1rem;
		float: right;
		width: 40%;

		.song-genre {
			border: 0.5px solid rgba($color: #09139e, $alpha: 0.5);
			border-radius: 0.7rem;
			display: inline-block;
			margin: 0.35rem;
			padding: 0.3rem;
			
			&.isSelected {
				background: rgba($color: #09139e, $alpha: 0.6);
				color: #fff;
			}
		}
	}

	.video-container {
		display: inline-block;

		iframe {
			border: none;
			border-radius: 0.4rem;
		}
	}
	
	.song-options {
		display: flex;
		flex-direction: row-reverse;
		position: relative;

		.edit-button {
			background: rgba($color: #fff, $alpha: 0.6);
			border: 0.5px solid rgba($color: #09139e, $alpha: 1);
			border-radius: 0.25rem;
			color: rgba($color: #09139e, $alpha: 1);
			cursor: pointer;
			font-size: 1rem;
			margin: 0.25rem 1rem;
			padding: 0.35rem 1rem;
			transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba($color: #09139e, $alpha: 0.5);
				outline: none;
			}
			
			&:hover {
				background-color: #09139e;
				border-color: #09139e;
				color: #fff;
			}
		}
		
		.delete-button {
			background: rgba($color: #fff, $alpha: 0.6);
			border: 0.5px solid rgba($color: #dc3545, $alpha: 1);
			border-radius: 0.25rem;
			color: rgba($color: #dc3545, $alpha: 1);
			cursor: pointer;
			font-size: 1rem;
			margin: 0.25rem 1rem;
			padding: 0.35rem 1rem;
			transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba($color: #dc3545, $alpha: 0.5);
				outline: none;
			}

			&:hover {
				background-color: #dc3545;
				border-color: #dc3545;
				color: #fff;
			}
		}
	}
	
	.delete-confirmation {
		background: rgba($color: #000, $alpha: 0.8);
		color: #fff;
		height: -webkit-fill-available;
		left: 0;
		padding: 2rem;
		position: absolute;
		top: 0;
		width: -webkit-fill-available;

		.delete-conf-content {
			padding: 1rem;
			text-align: center;

			.delete-warning {
				display: block;
				font-family: monospace;
				font-size: 2rem;
				margin: 1rem auto;
			}

			.delete-btn-group {
				.delete-yes, .delete-no {
					border-radius: 0.5rem;
					font-family: monospace;
					font-size: 1.5rem;
					padding: 0.5rem;
					margin: 1rem;
					width: 17%
				}
			}
		}
	}
}