.song-container {
	position: relative;

	.song-title {
		display: block;
		margin: 0.5rem 0 0.75rem 0;
		width: 100%;
	}

	.genre-container {
		float: right;
		width: 40%;

		.genre {
			border: 0.5px solid rgba($color: #09139e, $alpha: 0.5);
			border-radius: 0.7rem;
			cursor: pointer;
			display: inline-block;
			margin: 0.35rem;
			padding: 0.3rem;
		}
	}

	.video-container {
		display: inline-block;

		iframe {
			border: none;
			border-radius: 0.65rem;
		}
	}
}