doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Server
	body
		h3 ```Server listening at port #{PORT}```

		h1 Welcome to local API

		h2 
			a(href='http://localhost:3000/songs', target='_open') Data